@import "tailwindcss";

/* Farben für die Light-Variante */
:root {
  --background: #f0f4f8;
  --foreground: #1a1a1a;
  --header-footer: #c0e3ff;
  --sidebar-bg: #c0e3ff;
}

/* Grundstyles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

header,
footer {
  background-color: var(--header-footer);
}

.sidebar {
  background-color: var(--sidebar-bg);
  color: white;
}
